# Individual files
*.jar
*.class
*.zip

# Gradle temp directories
.gradle
/gradle/
!gradle/wrapper/gradle-wrapper.jar

# Temp build directories
**/build/
**/classes/
**/out/

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

